// Place all the styles related to the drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * this was not in use in the first place.
 *

li.drink {
  background: rgba(255,255,255,0.3);
  display: inline-block;
  height: 160px;
  list-style-type: none;
  width: 160px;
  a {
    display: block;
  }
  img {
    max-height: 140px;
    max-width: 140px;
    margin: 10px;
  }
}
*/

.container-drink {
  position: relative;

  button.purchase {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
  
  }

}


